/*
NIC DGL-203
Assignment 3c - Master Stylesheet
Author: Will Lewthwaite
Date Last Modified: 12 November, 2021
*/

/*
    ### Contents ###
    1. Colors
    2. Global Styles
    3. placeholder
    4. Motions
    5. Animations
*/

/*
    ^^^^ Colors Used ^^^^
    #0b171d - Rich Black Fogra 29
    #466273 - Dark Electric Blue
    #4D7893 - Celadon Blue
    #9DB6C4 - Pewter Blue
    #DAD7CD - Timberwolf
    #A3B18A - Laurel Green
    #588157 - Fern Green
    #3A5A40 - Hunter Green
    #344E41 - Brunswick Green
    #A20104 - Rofous
*/

/*  ^^^ Global Styles ^^^  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    line-height: 1.5;
}
h1, h2 {
    font-family: 'IM Fell English SC', serif;
    font-weight: 400;
    margin: 0;
}

.navbar-nav {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.nav-item {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.nav-item .nav-link {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

 .nav-item .nav-link:before, .header .nav-item .nav-link:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

 .nav-item .nav-link:before {
    top: 5px;
}

 .nav-item .nav-link:after {
    top: -5px;
}
